/*--------------------------------------------------------------
# BACKGROUND COLOR PALLETES
--------------------------------------------------------------*/

.bg-primary {
	background-color: #3498db;
	border-color: #3498db;
	color: #fff !important;
  }
  
  .bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4, .bg-primary h5, .bg-primary h6 {
	color: #fff;
  }
  
  .bg-primary .nav .open > a, .bg-primary .nav .open > a:focus, .bg-primary .nav .open > a:hover {
	background-color: #258cd1;
	color: #fff !important;
  }
  
  .bg-primary .nav > li > a:focus, .bg-primary .nav > li > a:hover {
	background-color: #258cd1;
	color: #fff !important;
  }
  
  .bg-primary .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary.small-nav:hover .child-nav {
	background-color: #3498db;
  }
  
  .bg-primary.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #3498db;
  }
  
  .bg-primary-300 {
	background-color: #54a8e1;
	border-color: #54a8e1;
	color: #fff !important;
  }
  
  .bg-primary-300 h1, .bg-primary-300 h2, .bg-primary-300 h3, .bg-primary-300 h4, .bg-primary-300 h5, .bg-primary-300 h6 {
	color: #fff;
  }
  
  .bg-primary-300 .nav .open > a, .bg-primary-300 .nav .open > a:focus, .bg-primary-300 .nav .open > a:hover {
	background-color: #3f9ddd;
	color: #fff !important;
  }
  
  .bg-primary-300 .nav > li > a:focus, .bg-primary-300 .nav > li > a:hover {
	background-color: #3f9ddd;
	color: #fff !important;
  }
  
  .bg-primary-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary-300.small-nav:hover .child-nav {
	background-color: #54a8e1;
  }
  
  .bg-primary-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #54a8e1;
  }
  
  .bg-primary-100 {
	background-color: #75b9e7;
	border-color: #75b9e7;
	color: #fff !important;
  }
  
  .bg-primary-100 h1, .bg-primary-100 h2, .bg-primary-100 h3, .bg-primary-100 h4, .bg-primary-100 h5, .bg-primary-100 h6 {
	color: #fff;
  }
  
  .bg-primary-100 .nav .open > a, .bg-primary-100 .nav .open > a:focus, .bg-primary-100 .nav .open > a:hover {
	background-color: #5faee3;
	color: #fff !important;
  }
  
  .bg-primary-100 .nav > li > a:focus, .bg-primary-100 .nav > li > a:hover {
	background-color: #5faee3;
	color: #fff !important;
  }
  
  .bg-primary-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary-100.small-nav:hover .child-nav {
	background-color: #75b9e7;
  }
  
  .bg-primary-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #75b9e7;
  }
  
  .bg-primary-500 {
	background-color: #258cd1;
	border-color: #258cd1;
	color: #fff !important;
  }
  
  .bg-primary-500 h1, .bg-primary-500 h2, .bg-primary-500 h3, .bg-primary-500 h4, .bg-primary-500 h5, .bg-primary-500 h6 {
	color: #fff;
  }
  
  .bg-primary-500 .nav .open > a, .bg-primary-500 .nav .open > a:focus, .bg-primary-500 .nav .open > a:hover {
	background-color: #217dbb;
	color: #fff !important;
  }
  
  .bg-primary-500 .nav > li > a:focus, .bg-primary-500 .nav > li > a:hover {
	background-color: #217dbb;
	color: #fff !important;
  }
  
  .bg-primary-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary-500.small-nav:hover .child-nav {
	background-color: #258cd1;
  }
  
  .bg-primary-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #258cd1;
  }
  
  .bg-primary-600 {
	background-color: #217dbb;
	border-color: #217dbb;
	color: #fff !important;
  }
  
  .bg-primary-600 h1, .bg-primary-600 h2, .bg-primary-600 h3, .bg-primary-600 h4, .bg-primary-600 h5, .bg-primary-600 h6 {
	color: #fff;
  }
  
  .bg-primary-600 .nav .open > a, .bg-primary-600 .nav .open > a:focus, .bg-primary-600 .nav .open > a:hover {
	background-color: #1d6fa5;
	color: #fff !important;
  }
  
  .bg-primary-600 .nav > li > a:focus, .bg-primary-600 .nav > li > a:hover {
	background-color: #1d6fa5;
	color: #fff !important;
  }
  
  .bg-primary-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary-600.small-nav:hover .child-nav {
	background-color: #217dbb;
  }
  
  .bg-primary-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #217dbb;
  }
  
  .bg-primary-700 {
	background-color: #1d6fa5;
	border-color: #1d6fa5;
	color: #fff !important;
  }
  
  .bg-primary-700 h1, .bg-primary-700 h2, .bg-primary-700 h3, .bg-primary-700 h4, .bg-primary-700 h5, .bg-primary-700 h6 {
	color: #fff;
  }
  
  .bg-primary-700 .nav .open > a, .bg-primary-700 .nav .open > a:focus, .bg-primary-700 .nav .open > a:hover {
	background-color: #196090;
	color: #fff !important;
  }
  
  .bg-primary-700 .nav > li > a:focus, .bg-primary-700 .nav > li > a:hover {
	background-color: #196090;
	color: #fff !important;
  }
  
  .bg-primary-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-primary-700.small-nav:hover .child-nav {
	background-color: #1d6fa5;
  }
  
  .bg-primary-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #1d6fa5;
  }
  
  .bg-danger {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff !important;
  }
  
  .bg-danger h1, .bg-danger h2, .bg-danger h3, .bg-danger h4, .bg-danger h5, .bg-danger h6 {
	color: #fff;
  }
  
  .bg-danger .nav .open > a, .bg-danger .nav .open > a:focus, .bg-danger .nav .open > a:hover {
	background-color: #e43725;
	color: #fff !important;
  }
  
  .bg-danger .nav > li > a:focus, .bg-danger .nav > li > a:hover {
	background-color: #e43725;
	color: #fff !important;
  }
  
  .bg-danger .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger.small-nav:hover .child-nav {
	background-color: #e74c3c;
  }
  
  .bg-danger.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #e74c3c;
  }
  
  .bg-danger-300 {
	background-color: #eb6b5e;
	border-color: #eb6b5e;
	color: #fff !important;
  }
  
  .bg-danger-300 h1, .bg-danger-300 h2, .bg-danger-300 h3, .bg-danger-300 h4, .bg-danger-300 h5, .bg-danger-300 h6 {
	color: #fff;
  }
  
  .bg-danger-300 .nav .open > a, .bg-danger-300 .nav .open > a:focus, .bg-danger-300 .nav .open > a:hover {
	background-color: #e85647;
	color: #fff !important;
  }
  
  .bg-danger-300 .nav > li > a:focus, .bg-danger-300 .nav > li > a:hover {
	background-color: #e85647;
	color: #fff !important;
  }
  
  .bg-danger-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger-300.small-nav:hover .child-nav {
	background-color: #eb6b5e;
  }
  
  .bg-danger-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #eb6b5e;
  }
  
  .bg-danger-100 {
	background-color: #ef8b80;
	border-color: #ef8b80;
	color: #fff !important;
  }
  
  .bg-danger-100 h1, .bg-danger-100 h2, .bg-danger-100 h3, .bg-danger-100 h4, .bg-danger-100 h5, .bg-danger-100 h6 {
	color: #fff;
  }
  
  .bg-danger-100 .nav .open > a, .bg-danger-100 .nav .open > a:focus, .bg-danger-100 .nav .open > a:hover {
	background-color: #ed7669;
	color: #fff !important;
  }
  
  .bg-danger-100 .nav > li > a:focus, .bg-danger-100 .nav > li > a:hover {
	background-color: #ed7669;
	color: #fff !important;
  }
  
  .bg-danger-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger-100.small-nav:hover .child-nav {
	background-color: #ef8b80;
  }
  
  .bg-danger-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #ef8b80;
  }
  
  .bg-danger-500 {
	background-color: #e43725;
	border-color: #e43725;
	color: #fff !important;
  }
  
  .bg-danger-500 h1, .bg-danger-500 h2, .bg-danger-500 h3, .bg-danger-500 h4, .bg-danger-500 h5, .bg-danger-500 h6 {
	color: #fff;
  }
  
  .bg-danger-500 .nav .open > a, .bg-danger-500 .nav .open > a:focus, .bg-danger-500 .nav .open > a:hover {
	background-color: #d62c1a;
	color: #fff !important;
  }
  
  .bg-danger-500 .nav > li > a:focus, .bg-danger-500 .nav > li > a:hover {
	background-color: #d62c1a;
	color: #fff !important;
  }
  
  .bg-danger-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger-500.small-nav:hover .child-nav {
	background-color: #e43725;
  }
  
  .bg-danger-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #e43725;
  }
  
  .bg-danger-600 {
	background-color: #d62c1a;
	border-color: #d62c1a;
	color: #fff !important;
  }
  
  .bg-danger-600 h1, .bg-danger-600 h2, .bg-danger-600 h3, .bg-danger-600 h4, .bg-danger-600 h5, .bg-danger-600 h6 {
	color: #fff;
  }
  
  .bg-danger-600 .nav .open > a, .bg-danger-600 .nav .open > a:focus, .bg-danger-600 .nav .open > a:hover {
	background-color: #bf2718;
	color: #fff !important;
  }
  
  .bg-danger-600 .nav > li > a:focus, .bg-danger-600 .nav > li > a:hover {
	background-color: #bf2718;
	color: #fff !important;
  }
  
  .bg-danger-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger-600.small-nav:hover .child-nav {
	background-color: #d62c1a;
  }
  
  .bg-danger-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #d62c1a;
  }
  
  .bg-danger-700 {
	background-color: #bf2718;
	border-color: #bf2718;
	color: #fff !important;
  }
  
  .bg-danger-700 h1, .bg-danger-700 h2, .bg-danger-700 h3, .bg-danger-700 h4, .bg-danger-700 h5, .bg-danger-700 h6 {
	color: #fff;
  }
  
  .bg-danger-700 .nav .open > a, .bg-danger-700 .nav .open > a:focus, .bg-danger-700 .nav .open > a:hover {
	background-color: #a82315;
	color: #fff !important;
  }
  
  .bg-danger-700 .nav > li > a:focus, .bg-danger-700 .nav > li > a:hover {
	background-color: #a82315;
	color: #fff !important;
  }
  
  .bg-danger-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-danger-700.small-nav:hover .child-nav {
	background-color: #bf2718;
  }
  
  .bg-danger-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #bf2718;
  }
  
  .bg-success {
	background-color: #27ae60;
	border-color: #27ae60;
	color: #fff !important;
  }
  
  .bg-success h1, .bg-success h2, .bg-success h3, .bg-success h4, .bg-success h5, .bg-success h6 {
	color: #fff;
  }
  
  .bg-success .nav .open > a, .bg-success .nav .open > a:focus, .bg-success .nav .open > a:hover {
	background-color: #229955;
	color: #fff !important;
  }
  
  .bg-success .nav > li > a:focus, .bg-success .nav > li > a:hover {
	background-color: #229955;
	color: #fff !important;
  }
  
  .bg-success .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success.small-nav:hover .child-nav {
	background-color: #27ae60;
  }
  
  .bg-success.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #27ae60;
  }
  
  .bg-success-300 {
	background-color: #2ecd71;
	border-color: #2ecd71;
	color: #fff !important;
  }
  
  .bg-success-300 h1, .bg-success-300 h2, .bg-success-300 h3, .bg-success-300 h4, .bg-success-300 h5, .bg-success-300 h6 {
	color: #fff;
  }
  
  .bg-success-300 .nav .open > a, .bg-success-300 .nav .open > a:focus, .bg-success-300 .nav .open > a:hover {
	background-color: #29b866;
	color: #fff !important;
  }
  
  .bg-success-300 .nav > li > a:focus, .bg-success-300 .nav > li > a:hover {
	background-color: #29b866;
	color: #fff !important;
  }
  
  .bg-success-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success-300.small-nav:hover .child-nav {
	background-color: #2ecd71;
  }
  
  .bg-success-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #2ecd71;
  }
  
  .bg-success-100 {
	background-color: #4bd786;
	border-color: #4bd786;
	color: #fff !important;
  }
  
  .bg-success-100 h1, .bg-success-100 h2, .bg-success-100 h3, .bg-success-100 h4, .bg-success-100 h5, .bg-success-100 h6 {
	color: #fff;
  }
  
  .bg-success-100 .nav .open > a, .bg-success-100 .nav .open > a:focus, .bg-success-100 .nav .open > a:hover {
	background-color: #36d278;
	color: #fff !important;
  }
  
  .bg-success-100 .nav > li > a:focus, .bg-success-100 .nav > li > a:hover {
	background-color: #36d278;
	color: #fff !important;
  }
  
  .bg-success-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success-100.small-nav:hover .child-nav {
	background-color: #4bd786;
  }
  
  .bg-success-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #4bd786;
  }
  
  .bg-success-500 {
	background-color: #229955;
	border-color: #229955;
	color: #fff !important;
  }
  
  .bg-success-500 h1, .bg-success-500 h2, .bg-success-500 h3, .bg-success-500 h4, .bg-success-500 h5, .bg-success-500 h6 {
	color: #fff;
  }
  
  .bg-success-500 .nav .open > a, .bg-success-500 .nav .open > a:focus, .bg-success-500 .nav .open > a:hover {
	background-color: #1e8449;
	color: #fff !important;
  }
  
  .bg-success-500 .nav > li > a:focus, .bg-success-500 .nav > li > a:hover {
	background-color: #1e8449;
	color: #fff !important;
  }
  
  .bg-success-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success-500.small-nav:hover .child-nav {
	background-color: #229955;
  }
  
  .bg-success-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #229955;
  }
  
  .bg-success-600 {
	background-color: #1e8449;
	border-color: #1e8449;
	color: #fff !important;
  }
  
  .bg-success-600 h1, .bg-success-600 h2, .bg-success-600 h3, .bg-success-600 h4, .bg-success-600 h5, .bg-success-600 h6 {
	color: #fff;
  }
  
  .bg-success-600 .nav .open > a, .bg-success-600 .nav .open > a:focus, .bg-success-600 .nav .open > a:hover {
	background-color: #19703e;
	color: #fff !important;
  }
  
  .bg-success-600 .nav > li > a:focus, .bg-success-600 .nav > li > a:hover {
	background-color: #19703e;
	color: #fff !important;
  }
  
  .bg-success-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success-600.small-nav:hover .child-nav {
	background-color: #1e8449;
  }
  
  .bg-success-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #1e8449;
  }
  
  .bg-success-700 {
	background-color: #19703e;
	border-color: #19703e;
	color: #fff !important;
  }
  
  .bg-success-700 h1, .bg-success-700 h2, .bg-success-700 h3, .bg-success-700 h4, .bg-success-700 h5, .bg-success-700 h6 {
	color: #fff;
  }
  
  .bg-success-700 .nav .open > a, .bg-success-700 .nav .open > a:focus, .bg-success-700 .nav .open > a:hover {
	background-color: #145b32;
	color: #fff !important;
  }
  
  .bg-success-700 .nav > li > a:focus, .bg-success-700 .nav > li > a:hover {
	background-color: #145b32;
	color: #fff !important;
  }
  
  .bg-success-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-success-700.small-nav:hover .child-nav {
	background-color: #19703e;
  }
  
  .bg-success-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #19703e;
  }
  
  .bg-warning {
	background-color: #f39c12;
	border-color: #f39c12;
	color: #fff !important;
  }
  
  .bg-warning h1, .bg-warning h2, .bg-warning h3, .bg-warning h4, .bg-warning h5, .bg-warning h6 {
	color: #fff;
  }
  
  .bg-warning .nav .open > a, .bg-warning .nav .open > a:focus, .bg-warning .nav .open > a:hover {
	background-color: #e08e0b;
	color: #fff !important;
  }
  
  .bg-warning .nav > li > a:focus, .bg-warning .nav > li > a:hover {
	background-color: #e08e0b;
	color: #fff !important;
  }
  
  .bg-warning .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning.small-nav:hover .child-nav {
	background-color: #f39c12;
  }
  
  .bg-warning.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #f39c12;
  }
  
  .bg-warning-300 {
	background-color: #f5ab36;
	border-color: #f5ab36;
	color: #fff !important;
  }
  
  .bg-warning-300 h1, .bg-warning-300 h2, .bg-warning-300 h3, .bg-warning-300 h4, .bg-warning-300 h5, .bg-warning-300 h6 {
	color: #fff;
  }
  
  .bg-warning-300 .nav .open > a, .bg-warning-300 .nav .open > a:focus, .bg-warning-300 .nav .open > a:hover {
	background-color: #f4a11e;
	color: #fff !important;
  }
  
  .bg-warning-300 .nav > li > a:focus, .bg-warning-300 .nav > li > a:hover {
	background-color: #f4a11e;
	color: #fff !important;
  }
  
  .bg-warning-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning-300.small-nav:hover .child-nav {
	background-color: #f5ab36;
  }
  
  .bg-warning-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #f5ab36;
  }
  
  .bg-warning-100 {
	background-color: #f7ba5b;
	border-color: #f7ba5b;
	color: #fff !important;
  }
  
  .bg-warning-100 h1, .bg-warning-100 h2, .bg-warning-100 h3, .bg-warning-100 h4, .bg-warning-100 h5, .bg-warning-100 h6 {
	color: #fff;
  }
  
  .bg-warning-100 .nav .open > a, .bg-warning-100 .nav .open > a:focus, .bg-warning-100 .nav .open > a:hover {
	background-color: #f5b043;
	color: #fff !important;
  }
  
  .bg-warning-100 .nav > li > a:focus, .bg-warning-100 .nav > li > a:hover {
	background-color: #f5b043;
	color: #fff !important;
  }
  
  .bg-warning-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning-100.small-nav:hover .child-nav {
	background-color: #f7ba5b;
  }
  
  .bg-warning-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #f7ba5b;
  }
  
  .bg-warning-500 {
	background-color: #e08e0b;
	border-color: #e08e0b;
	color: #fff !important;
  }
  
  .bg-warning-500 h1, .bg-warning-500 h2, .bg-warning-500 h3, .bg-warning-500 h4, .bg-warning-500 h5, .bg-warning-500 h6 {
	color: #fff;
  }
  
  .bg-warning-500 .nav .open > a, .bg-warning-500 .nav .open > a:focus, .bg-warning-500 .nav .open > a:hover {
	background-color: #c87f0a;
	color: #fff !important;
  }
  
  .bg-warning-500 .nav > li > a:focus, .bg-warning-500 .nav > li > a:hover {
	background-color: #c87f0a;
	color: #fff !important;
  }
  
  .bg-warning-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning-500.small-nav:hover .child-nav {
	background-color: #e08e0b;
  }
  
  .bg-warning-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #e08e0b;
  }
  
  .bg-warning-600 {
	background-color: #c87f0a;
	border-color: #c87f0a;
	color: #fff !important;
  }
  
  .bg-warning-600 h1, .bg-warning-600 h2, .bg-warning-600 h3, .bg-warning-600 h4, .bg-warning-600 h5, .bg-warning-600 h6 {
	color: #fff;
  }
  
  .bg-warning-600 .nav .open > a, .bg-warning-600 .nav .open > a:focus, .bg-warning-600 .nav .open > a:hover {
	background-color: #b06f09;
	color: #fff !important;
  }
  
  .bg-warning-600 .nav > li > a:focus, .bg-warning-600 .nav > li > a:hover {
	background-color: #b06f09;
	color: #fff !important;
  }
  
  .bg-warning-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning-600.small-nav:hover .child-nav {
	background-color: #c87f0a;
  }
  
  .bg-warning-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #c87f0a;
  }
  
  .bg-warning-700 {
	background-color: #b06f09;
	border-color: #b06f09;
	color: #fff !important;
  }
  
  .bg-warning-700 h1, .bg-warning-700 h2, .bg-warning-700 h3, .bg-warning-700 h4, .bg-warning-700 h5, .bg-warning-700 h6 {
	color: #fff;
  }
  
  .bg-warning-700 .nav .open > a, .bg-warning-700 .nav .open > a:focus, .bg-warning-700 .nav .open > a:hover {
	background-color: #976008;
	color: #fff !important;
  }
  
  .bg-warning-700 .nav > li > a:focus, .bg-warning-700 .nav > li > a:hover {
	background-color: #976008;
	color: #fff !important;
  }
  
  .bg-warning-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-warning-700.small-nav:hover .child-nav {
	background-color: #b06f09;
  }
  
  .bg-warning-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #b06f09;
  }
  
  .bg-info {
	background-color: #5bc0de;
	border-color: #5bc0de;
	color: #fff !important;
  }
  
  .bg-info h1, .bg-info h2, .bg-info h3, .bg-info h4, .bg-info h5, .bg-info h6 {
	color: #fff;
  }
  
  .bg-info .nav .open > a, .bg-info .nav .open > a:focus, .bg-info .nav .open > a:hover {
	background-color: #46b8da;
	color: #fff !important;
  }
  
  .bg-info .nav > li > a:focus, .bg-info .nav > li > a:hover {
	background-color: #46b8da;
	color: #fff !important;
  }
  
  .bg-info .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info.small-nav:hover .child-nav {
	background-color: #5bc0de;
  }
  
  .bg-info.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #5bc0de;
  }
  
  .bg-info-300 {
	background-color: #7bcce4;
	border-color: #7bcce4;
	color: #fff !important;
  }
  
  .bg-info-300 h1, .bg-info-300 h2, .bg-info-300 h3, .bg-info-300 h4, .bg-info-300 h5, .bg-info-300 h6 {
	color: #fff;
  }
  
  .bg-info-300 .nav .open > a, .bg-info-300 .nav .open > a:focus, .bg-info-300 .nav .open > a:hover {
	background-color: #66c4e0;
	color: #fff !important;
  }
  
  .bg-info-300 .nav > li > a:focus, .bg-info-300 .nav > li > a:hover {
	background-color: #66c4e0;
	color: #fff !important;
  }
  
  .bg-info-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info-300.small-nav:hover .child-nav {
	background-color: #7bcce4;
  }
  
  .bg-info-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #7bcce4;
  }
  
  .bg-info-100 {
	background-color: #9bd8eb;
	border-color: #9bd8eb;
	color: #fff !important;
  }
  
  .bg-info-100 h1, .bg-info-100 h2, .bg-info-100 h3, .bg-info-100 h4, .bg-info-100 h5, .bg-info-100 h6 {
	color: #fff;
  }
  
  .bg-info-100 .nav .open > a, .bg-info-100 .nav .open > a:focus, .bg-info-100 .nav .open > a:hover {
	background-color: #85d0e7;
	color: #fff !important;
  }
  
  .bg-info-100 .nav > li > a:focus, .bg-info-100 .nav > li > a:hover {
	background-color: #85d0e7;
	color: #fff !important;
  }
  
  .bg-info-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info-100.small-nav:hover .child-nav {
	background-color: #9bd8eb;
  }
  
  .bg-info-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #9bd8eb;
  }
  
  .bg-info-500 {
	background-color: #46b8da;
	border-color: #46b8da;
	color: #fff !important;
  }
  
  .bg-info-500 h1, .bg-info-500 h2, .bg-info-500 h3, .bg-info-500 h4, .bg-info-500 h5, .bg-info-500 h6 {
	color: #fff;
  }
  
  .bg-info-500 .nav .open > a, .bg-info-500 .nav .open > a:focus, .bg-info-500 .nav .open > a:hover {
	background-color: #31b0d5;
	color: #fff !important;
  }
  
  .bg-info-500 .nav > li > a:focus, .bg-info-500 .nav > li > a:hover {
	background-color: #31b0d5;
	color: #fff !important;
  }
  
  .bg-info-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info-500.small-nav:hover .child-nav {
	background-color: #46b8da;
  }
  
  .bg-info-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #46b8da;
  }
  
  .bg-info-600 {
	background-color: #31b0d5;
	border-color: #31b0d5;
	color: #fff !important;
  }
  
  .bg-info-600 h1, .bg-info-600 h2, .bg-info-600 h3, .bg-info-600 h4, .bg-info-600 h5, .bg-info-600 h6 {
	color: #fff;
  }
  
  .bg-info-600 .nav .open > a, .bg-info-600 .nav .open > a:focus, .bg-info-600 .nav .open > a:hover {
	background-color: #28a1c5;
	color: #fff !important;
  }
  
  .bg-info-600 .nav > li > a:focus, .bg-info-600 .nav > li > a:hover {
	background-color: #28a1c5;
	color: #fff !important;
  }
  
  .bg-info-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info-600.small-nav:hover .child-nav {
	background-color: #31b0d5;
  }
  
  .bg-info-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #31b0d5;
  }
  
  .bg-info-700 {
	background-color: #28a1c5;
	border-color: #28a1c5;
	color: #fff !important;
  }
  
  .bg-info-700 h1, .bg-info-700 h2, .bg-info-700 h3, .bg-info-700 h4, .bg-info-700 h5, .bg-info-700 h6 {
	color: #fff;
  }
  
  .bg-info-700 .nav .open > a, .bg-info-700 .nav .open > a:focus, .bg-info-700 .nav .open > a:hover {
	background-color: #2390b0;
	color: #fff !important;
  }
  
  .bg-info-700 .nav > li > a:focus, .bg-info-700 .nav > li > a:hover {
	background-color: #2390b0;
	color: #fff !important;
  }
  
  .bg-info-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-info-700.small-nav:hover .child-nav {
	background-color: #28a1c5;
  }
  
  .bg-info-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #28a1c5;
  }
  
  .bg-black {
	background-color: #292929;
	border-color: #292929;
	color: #fff !important;
  }
  
  .bg-black h1, .bg-black h2, .bg-black h3, .bg-black h4, .bg-black h5, .bg-black h6 {
	color: #fff;
  }
  
  .bg-black .nav .open > a, .bg-black .nav .open > a:focus, .bg-black .nav .open > a:hover {
	background-color: #1c1c1c;
	color: #fff !important;
  }
  
  .bg-black .nav > li > a:focus, .bg-black .nav > li > a:hover {
	background-color: #1c1c1c;
	color: #fff !important;
  }
  
  .bg-black .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black.small-nav:hover .child-nav {
	background-color: #292929;
  }
  
  .bg-black.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #292929;
  }
  
  .bg-black-300 {
	background-color: #3c3c3c;
	border-color: #3c3c3c;
	color: #fff !important;
  }
  
  .bg-black-300 h1, .bg-black-300 h2, .bg-black-300 h3, .bg-black-300 h4, .bg-black-300 h5, .bg-black-300 h6 {
	color: #fff;
  }
  
  .bg-black-300 .nav .open > a, .bg-black-300 .nav .open > a:focus, .bg-black-300 .nav .open > a:hover {
	background-color: #2f2f2f;
	color: #fff !important;
  }
  
  .bg-black-300 .nav > li > a:focus, .bg-black-300 .nav > li > a:hover {
	background-color: #2f2f2f;
	color: #fff !important;
  }
  
  .bg-black-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black-300.small-nav:hover .child-nav {
	background-color: #3c3c3c;
  }
  
  .bg-black-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #3c3c3c;
  }
  
  .bg-black-100 {
	background-color: #4f4f4f;
	border-color: #4f4f4f;
	color: #fff !important;
  }
  
  .bg-black-100 h1, .bg-black-100 h2, .bg-black-100 h3, .bg-black-100 h4, .bg-black-100 h5, .bg-black-100 h6 {
	color: #fff;
  }
  
  .bg-black-100 .nav .open > a, .bg-black-100 .nav .open > a:focus, .bg-black-100 .nav .open > a:hover {
	background-color: #434343;
	color: #fff !important;
  }
  
  .bg-black-100 .nav > li > a:focus, .bg-black-100 .nav > li > a:hover {
	background-color: #434343;
	color: #fff !important;
  }
  
  .bg-black-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black-100.small-nav:hover .child-nav {
	background-color: #4f4f4f;
  }
  
  .bg-black-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #4f4f4f;
  }
  
  .bg-black-500 {
	background-color: #1c1c1c;
	border-color: #1c1c1c;
	color: #fff !important;
  }
  
  .bg-black-500 h1, .bg-black-500 h2, .bg-black-500 h3, .bg-black-500 h4, .bg-black-500 h5, .bg-black-500 h6 {
	color: #fff;
  }
  
  .bg-black-500 .nav .open > a, .bg-black-500 .nav .open > a:focus, .bg-black-500 .nav .open > a:hover {
	background-color: #101010;
	color: #fff !important;
  }
  
  .bg-black-500 .nav > li > a:focus, .bg-black-500 .nav > li > a:hover {
	background-color: #101010;
	color: #fff !important;
  }
  
  .bg-black-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black-500.small-nav:hover .child-nav {
	background-color: #1c1c1c;
  }
  
  .bg-black-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #1c1c1c;
  }
  
  .bg-black-600 {
	background-color: #101010;
	border-color: #101010;
	color: #fff !important;
  }
  
  .bg-black-600 h1, .bg-black-600 h2, .bg-black-600 h3, .bg-black-600 h4, .bg-black-600 h5, .bg-black-600 h6 {
	color: #fff;
  }
  
  .bg-black-600 .nav .open > a, .bg-black-600 .nav .open > a:focus, .bg-black-600 .nav .open > a:hover {
	background-color: #030303;
	color: #fff !important;
  }
  
  .bg-black-600 .nav > li > a:focus, .bg-black-600 .nav > li > a:hover {
	background-color: #030303;
	color: #fff !important;
  }
  
  .bg-black-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black-600.small-nav:hover .child-nav {
	background-color: #101010;
  }
  
  .bg-black-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #101010;
  }
  
  .bg-black-700 {
	background-color: #030303;
	border-color: #030303;
	color: #fff !important;
  }
  
  .bg-black-700 h1, .bg-black-700 h2, .bg-black-700 h3, .bg-black-700 h4, .bg-black-700 h5, .bg-black-700 h6 {
	color: #fff;
  }
  
  .bg-black-700 .nav .open > a, .bg-black-700 .nav .open > a:focus, .bg-black-700 .nav .open > a:hover {
	background-color: black;
	color: #fff !important;
  }
  
  .bg-black-700 .nav > li > a:focus, .bg-black-700 .nav > li > a:hover {
	background-color: black;
	color: #fff !important;
  }
  
  .bg-black-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-black-700.small-nav:hover .child-nav {
	background-color: #030303;
  }
  
  .bg-black-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #030303;
  }
  
  .bg-light-black {
	background-color: #494949;
	border-color: #494949;
	color: #fff !important;
  }
  
  .bg-light-black h1, .bg-light-black h2, .bg-light-black h3, .bg-light-black h4, .bg-light-black h5, .bg-light-black h6 {
	color: #fff;
  }
  
  .bg-light-black .nav .open > a, .bg-light-black .nav .open > a:focus, .bg-light-black .nav .open > a:hover {
	background-color: #3c3c3c;
	color: #fff !important;
  }
  
  .bg-light-black .nav > li > a:focus, .bg-light-black .nav > li > a:hover {
	background-color: #3c3c3c;
	color: #fff !important;
  }
  
  .bg-light-black .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black.small-nav:hover .child-nav {
	background-color: #494949;
  }
  
  .bg-light-black.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #494949;
  }
  
  .bg-light-black-300 {
	background-color: #5c5c5c;
	border-color: #5c5c5c;
	color: #fff !important;
  }
  
  .bg-light-black-300 h1, .bg-light-black-300 h2, .bg-light-black-300 h3, .bg-light-black-300 h4, .bg-light-black-300 h5, .bg-light-black-300 h6 {
	color: #fff;
  }
  
  .bg-light-black-300 .nav .open > a, .bg-light-black-300 .nav .open > a:focus, .bg-light-black-300 .nav .open > a:hover {
	background-color: #4f4f4f;
	color: #fff !important;
  }
  
  .bg-light-black-300 .nav > li > a:focus, .bg-light-black-300 .nav > li > a:hover {
	background-color: #4f4f4f;
	color: #fff !important;
  }
  
  .bg-light-black-300 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black-300.small-nav:hover .child-nav {
	background-color: #5c5c5c;
  }
  
  .bg-light-black-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #5c5c5c;
  }
  
  .bg-light-black-100 {
	background-color: #6f6f6f;
	border-color: #6f6f6f;
	color: #fff !important;
  }
  
  .bg-light-black-100 h1, .bg-light-black-100 h2, .bg-light-black-100 h3, .bg-light-black-100 h4, .bg-light-black-100 h5, .bg-light-black-100 h6 {
	color: #fff;
  }
  
  .bg-light-black-100 .nav .open > a, .bg-light-black-100 .nav .open > a:focus, .bg-light-black-100 .nav .open > a:hover {
	background-color: #636363;
	color: #fff !important;
  }
  
  .bg-light-black-100 .nav > li > a:focus, .bg-light-black-100 .nav > li > a:hover {
	background-color: #636363;
	color: #fff !important;
  }
  
  .bg-light-black-100 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black-100.small-nav:hover .child-nav {
	background-color: #6f6f6f;
  }
  
  .bg-light-black-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #6f6f6f;
  }
  
  .bg-light-black-500 {
	background-color: #3c3c3c;
	border-color: #3c3c3c;
	color: #fff !important;
  }
  
  .bg-light-black-500 h1, .bg-light-black-500 h2, .bg-light-black-500 h3, .bg-light-black-500 h4, .bg-light-black-500 h5, .bg-light-black-500 h6 {
	color: #fff;
  }
  
  .bg-light-black-500 .nav .open > a, .bg-light-black-500 .nav .open > a:focus, .bg-light-black-500 .nav .open > a:hover {
	background-color: #303030;
	color: #fff !important;
  }
  
  .bg-light-black-500 .nav > li > a:focus, .bg-light-black-500 .nav > li > a:hover {
	background-color: #303030;
	color: #fff !important;
  }
  
  .bg-light-black-500 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black-500.small-nav:hover .child-nav {
	background-color: #3c3c3c;
  }
  
  .bg-light-black-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #3c3c3c;
  }
  
  .bg-light-black-600 {
	background-color: #303030;
	border-color: #303030;
	color: #fff !important;
  }
  
  .bg-light-black-600 h1, .bg-light-black-600 h2, .bg-light-black-600 h3, .bg-light-black-600 h4, .bg-light-black-600 h5, .bg-light-black-600 h6 {
	color: #fff;
  }
  
  .bg-light-black-600 .nav .open > a, .bg-light-black-600 .nav .open > a:focus, .bg-light-black-600 .nav .open > a:hover {
	background-color: #232323;
	color: #fff !important;
  }
  
  .bg-light-black-600 .nav > li > a:focus, .bg-light-black-600 .nav > li > a:hover {
	background-color: #232323;
	color: #fff !important;
  }
  
  .bg-light-black-600 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black-600.small-nav:hover .child-nav {
	background-color: #303030;
  }
  
  .bg-light-black-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #303030;
  }
  
  .bg-light-black-700 {
	background-color: #232323;
	border-color: #232323;
	color: #fff !important;
  }
  
  .bg-light-black-700 h1, .bg-light-black-700 h2, .bg-light-black-700 h3, .bg-light-black-700 h4, .bg-light-black-700 h5, .bg-light-black-700 h6 {
	color: #fff;
  }
  
  .bg-light-black-700 .nav .open > a, .bg-light-black-700 .nav .open > a:focus, .bg-light-black-700 .nav .open > a:hover {
	background-color: #161616;
	color: #fff !important;
  }
  
  .bg-light-black-700 .nav > li > a:focus, .bg-light-black-700 .nav > li > a:hover {
	background-color: #161616;
	color: #fff !important;
  }
  
  .bg-light-black-700 .navbar-nav > li > a {
	color: #fff;
  }
  
  .bg-light-black-700.small-nav:hover .child-nav {
	background-color: #232323;
  }
  
  .bg-light-black-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #232323;
  }
  
  .bg-gray {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-gray h1, .bg-gray h2, .bg-gray h3, .bg-gray h4, .bg-gray h5, .bg-gray h6 {
	color: #494949;
  }
  
  .bg-gray .nav .open > a, .bg-gray .nav .open > a:focus, .bg-gray .nav .open > a:hover {
	background-color: #e5e5e5;
	color: #494949 !important;
  }
  
  .bg-gray .nav > li > a:focus, .bg-gray .nav > li > a:hover {
	background-color: #e5e5e5;
	color: #494949 !important;
  }
  
  .bg-gray .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray.small-nav:hover .child-nav {
	background-color: #f2f2f2;
  }
  
  .bg-gray.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #f2f2f2;
  }
  
  .bg-gray-300 {
	background-color: white;
	border-color: white;
	color: #494949 !important;
  }
  
  .bg-gray-300 h1, .bg-gray-300 h2, .bg-gray-300 h3, .bg-gray-300 h4, .bg-gray-300 h5, .bg-gray-300 h6 {
	color: #494949;
  }
  
  .bg-gray-300 .nav .open > a, .bg-gray-300 .nav .open > a:focus, .bg-gray-300 .nav .open > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-gray-300 .nav > li > a:focus, .bg-gray-300 .nav > li > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-gray-300 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray-300.small-nav:hover .child-nav {
	background-color: white;
  }
  
  .bg-gray-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: white;
  }
  
  .bg-gray-100 {
	background-color: white;
	border-color: white;
	color: #494949 !important;
  }
  
  .bg-gray-100 h1, .bg-gray-100 h2, .bg-gray-100 h3, .bg-gray-100 h4, .bg-gray-100 h5, .bg-gray-100 h6 {
	color: #494949;
  }
  
  .bg-gray-100 .nav .open > a, .bg-gray-100 .nav .open > a:focus, .bg-gray-100 .nav .open > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-gray-100 .nav > li > a:focus, .bg-gray-100 .nav > li > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-gray-100 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray-100.small-nav:hover .child-nav {
	background-color: white;
  }
  
  .bg-gray-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: white;
  }
  
  .bg-gray-500 {
	background-color: #e5e5e5;
	border-color: #e5e5e5;
	color: #494949 !important;
  }
  
  .bg-gray-500 h1, .bg-gray-500 h2, .bg-gray-500 h3, .bg-gray-500 h4, .bg-gray-500 h5, .bg-gray-500 h6 {
	color: #494949;
  }
  
  .bg-gray-500 .nav .open > a, .bg-gray-500 .nav .open > a:focus, .bg-gray-500 .nav .open > a:hover {
	background-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-gray-500 .nav > li > a:focus, .bg-gray-500 .nav > li > a:hover {
	background-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-gray-500 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray-500.small-nav:hover .child-nav {
	background-color: #e5e5e5;
  }
  
  .bg-gray-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #e5e5e5;
  }
  
  .bg-gray-600 {
	background-color: #d9d9d9;
	border-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-gray-600 h1, .bg-gray-600 h2, .bg-gray-600 h3, .bg-gray-600 h4, .bg-gray-600 h5, .bg-gray-600 h6 {
	color: #494949;
  }
  
  .bg-gray-600 .nav .open > a, .bg-gray-600 .nav .open > a:focus, .bg-gray-600 .nav .open > a:hover {
	background-color: #cccccc;
	color: #494949 !important;
  }
  
  .bg-gray-600 .nav > li > a:focus, .bg-gray-600 .nav > li > a:hover {
	background-color: #cccccc;
	color: #494949 !important;
  }
  
  .bg-gray-600 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray-600.small-nav:hover .child-nav {
	background-color: #d9d9d9;
  }
  
  .bg-gray-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #d9d9d9;
  }
  
  .bg-gray-700 {
	background-color: #cccccc;
	border-color: #cccccc;
	color: #494949 !important;
  }
  
  .bg-gray-700 h1, .bg-gray-700 h2, .bg-gray-700 h3, .bg-gray-700 h4, .bg-gray-700 h5, .bg-gray-700 h6 {
	color: #494949;
  }
  
  .bg-gray-700 .nav .open > a, .bg-gray-700 .nav .open > a:focus, .bg-gray-700 .nav .open > a:hover {
	background-color: #bfbfbf;
	color: #494949 !important;
  }
  
  .bg-gray-700 .nav > li > a:focus, .bg-gray-700 .nav > li > a:hover {
	background-color: #bfbfbf;
	color: #494949 !important;
  }
  
  .bg-gray-700 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-gray-700.small-nav:hover .child-nav {
	background-color: #cccccc;
  }
  
  .bg-gray-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #cccccc;
  }
  
  .bg-white {
	background-color: #fff;
	border-color: #fff;
	color: #494949 !important;
  }
  
  .bg-white h1, .bg-white h2, .bg-white h3, .bg-white h4, .bg-white h5, .bg-white h6 {
	color: #494949;
  }
  
  .bg-white .nav .open > a, .bg-white .nav .open > a:focus, .bg-white .nav .open > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white .nav > li > a:focus, .bg-white .nav > li > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white.small-nav:hover .child-nav {
	background-color: #fff;
  }
  
  .bg-white.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #fff;
  }
  
  .bg-white-300 {
	background-color: white;
	border-color: white;
	color: #494949 !important;
  }
  
  .bg-white-300 h1, .bg-white-300 h2, .bg-white-300 h3, .bg-white-300 h4, .bg-white-300 h5, .bg-white-300 h6 {
	color: #494949;
  }
  
  .bg-white-300 .nav .open > a, .bg-white-300 .nav .open > a:focus, .bg-white-300 .nav .open > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white-300 .nav > li > a:focus, .bg-white-300 .nav > li > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white-300 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white-300.small-nav:hover .child-nav {
	background-color: white;
  }
  
  .bg-white-300.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: white;
  }
  
  .bg-white-100 {
	background-color: white;
	border-color: white;
	color: #494949 !important;
  }
  
  .bg-white-100 h1, .bg-white-100 h2, .bg-white-100 h3, .bg-white-100 h4, .bg-white-100 h5, .bg-white-100 h6 {
	color: #494949;
  }
  
  .bg-white-100 .nav .open > a, .bg-white-100 .nav .open > a:focus, .bg-white-100 .nav .open > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white-100 .nav > li > a:focus, .bg-white-100 .nav > li > a:hover {
	background-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white-100 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white-100.small-nav:hover .child-nav {
	background-color: white;
  }
  
  .bg-white-100.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: white;
  }
  
  .bg-white-500 {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #494949 !important;
  }
  
  .bg-white-500 h1, .bg-white-500 h2, .bg-white-500 h3, .bg-white-500 h4, .bg-white-500 h5, .bg-white-500 h6 {
	color: #494949;
  }
  
  .bg-white-500 .nav .open > a, .bg-white-500 .nav .open > a:focus, .bg-white-500 .nav .open > a:hover {
	background-color: #e6e6e6;
	color: #494949 !important;
  }
  
  .bg-white-500 .nav > li > a:focus, .bg-white-500 .nav > li > a:hover {
	background-color: #e6e6e6;
	color: #494949 !important;
  }
  
  .bg-white-500 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white-500.small-nav:hover .child-nav {
	background-color: #f2f2f2;
  }
  
  .bg-white-500.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #f2f2f2;
  }
  
  .bg-white-600 {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
	color: #494949 !important;
  }
  
  .bg-white-600 h1, .bg-white-600 h2, .bg-white-600 h3, .bg-white-600 h4, .bg-white-600 h5, .bg-white-600 h6 {
	color: #494949;
  }
  
  .bg-white-600 .nav .open > a, .bg-white-600 .nav .open > a:focus, .bg-white-600 .nav .open > a:hover {
	background-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-white-600 .nav > li > a:focus, .bg-white-600 .nav > li > a:hover {
	background-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-white-600 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white-600.small-nav:hover .child-nav {
	background-color: #e6e6e6;
  }
  
  .bg-white-600.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #e6e6e6;
  }
  
  .bg-white-700 {
	background-color: #d9d9d9;
	border-color: #d9d9d9;
	color: #494949 !important;
  }
  
  .bg-white-700 h1, .bg-white-700 h2, .bg-white-700 h3, .bg-white-700 h4, .bg-white-700 h5, .bg-white-700 h6 {
	color: #494949;
  }
  
  .bg-white-700 .nav .open > a, .bg-white-700 .nav .open > a:focus, .bg-white-700 .nav .open > a:hover {
	background-color: #cccccc;
	color: #494949 !important;
  }
  
  .bg-white-700 .nav > li > a:focus, .bg-white-700 .nav > li > a:hover {
	background-color: #cccccc;
	color: #494949 !important;
  }
  
  .bg-white-700 .navbar-nav > li > a {
	color: #494949;
  }
  
  .bg-white-700.small-nav:hover .child-nav {
	background-color: #d9d9d9;
  }
  
  .bg-white-700.small-nav:hover .side-nav > li:not(.has-children) > a > span {
	background-color: #d9d9d9;
  }
  
  /*--------------------------------------------------------------
  # COLOR CLASSES
  --------------------------------------------------------------*/
  .color-primary {
	color: #3498db !important;
  }
  
  .color-danger {
	color: #e74c3c !important;
  }
  
  .color-success {
	color: #27ae60 !important;
  }
  
  .color-warning {
	color: #f39c12 !important;
  }
  
  .color-info {
	color: #5bc0de !important;
  }
  
  .color-black {
	color: #292929 !important;
  }
  
  .color-light-black {
	color: #494949 !important;
  }
  
  .color-gray {
	color: #f2f2f2 !important;
  }
  
  .color-white {
	color: #fff !important;
  }
  
  /*--------------------------------------------------------------
  # BORDER COLORS
  --------------------------------------------------------------*/
  .border-primary {
	border-color: #3498db;
  }
  
  .border-primary-300 {
	border-color: #54a8e1;
  }
  
  .border-primary-100 {
	border-color: #75b9e7;
  }
  
  .border-primary-500 {
	border-color: #258cd1;
  }
  
  .border-primary-600 {
	border-color: #217dbb;
  }
  
  .border-primary-700 {
	border-color: #1d6fa5;
  }
  
  .border-danger {
	border-color: #e74c3c;
  }
  
  .border-danger-300 {
	border-color: #eb6b5e;
  }
  
  .border-danger-100 {
	border-color: #ef8b80;
  }
  
  .border-danger-500 {
	border-color: #e43725;
  }
  
  .border-danger-600 {
	border-color: #d62c1a;
  }
  
  .border-danger-700 {
	border-color: #bf2718;
  }
  
  .border-success {
	border-color: #27ae60;
  }
  
  .border-success-300 {
	border-color: #2ecd71;
  }
  
  .border-success-100 {
	border-color: #4bd786;
  }
  
  .border-success-500 {
	border-color: #229955;
  }
  
  .border-success-600 {
	border-color: #1e8449;
  }
  
  .border-success-700 {
	border-color: #19703e;
  }
  
  .border-warning {
	border-color: #f39c12;
  }
  
  .border-warning-300 {
	border-color: #f5ab36;
  }
  
  .border-warning-100 {
	border-color: #f7ba5b;
  }
  
  .border-warning-500 {
	border-color: #e08e0b;
  }
  
  .border-warning-600 {
	border-color: #c87f0a;
  }
  
  .border-warning-700 {
	border-color: #b06f09;
  }
  
  .border-info {
	border-color: #5bc0de;
  }
  
  .border-info-300 {
	border-color: #7bcce4;
  }
  
  .border-info-100 {
	border-color: #9bd8eb;
  }
  
  .border-info-500 {
	border-color: #46b8da;
  }
  
  .border-info-600 {
	border-color: #31b0d5;
  }
  
  .border-info-700 {
	border-color: #28a1c5;
  }
  
  .border-black {
	border-color: #292929;
  }
  
  .border-black-300 {
	border-color: #3c3c3c;
  }
  
  .border-black-100 {
	border-color: #4f4f4f;
  }
  
  .border-black-500 {
	border-color: #1c1c1c;
  }
  
  .border-black-600 {
	border-color: #101010;
  }
  
  .border-black-700 {
	border-color: #030303;
  }
  
  .border-gray {
	border-color: #f2f2f2;
  }
  
  .border-gray-300 {
	border-color: white;
  }
  
  .border-gray-100 {
	border-color: white;
  }
  
  .border-gray-500 {
	border-color: #e5e5e5;
  }
  
  .border-gray-600 {
	border-color: #d9d9d9;
  }
  
  .border-gray-700 {
	border-color: #cccccc;
  }